
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.follower {
	width:100px;
	height:100px;
	background:white;
	border-radius:12px;
	border:2px solid #f39;
	display:flex;
	align-items:center;
	justify-content:center;
	position:absolute;
	font-size:50px;
	font-family:Staatliches, sans-serif;
   color:#f39;
	user-select:none;
	opacity:0;
}

.cursor {
	width:10px;
	height:10px;
	border-radius:50%;
	background:#f39;
}
body {
	margin:0;
	overflow:hidden;
}