







li {
    border-top: 2px dotted #0f0f0f;
    padding: 1em 0;
}

article {
    display: grid;
    gap: .5em;
    grid-template-columns: 100px 1fr;
}

h3{
    text-transform: uppercase;
    font-family: sans-serif;
}

img {
    border-radius: 50%;
    grid-column: 1 /2;
    grid-row: 1 / 3;
}